.container {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    height: 100vh;

    padding: 20px;

    font-family: var(--main-font);
    font-size: 1rem;

    background-color: var(--black-theme-main);

    &:focus-visible {
        outline: none;
    }

    color: #fff;
}

.headerContainer {
    display: flex;
    justify-content: flex-start;

    width: 100%;
}

.logo {
    width: 100%;
    max-width: 366px;

    margin-top: 60px;
}

.topContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    margin-top: 24px;
}

.trackInfo {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: 700;
    font-size: 1.3em;
}

.authorName {
    font-size: 0.9em;
}

.sliderContainer {
    display: flex;
    flex-wrap: wrap;

    margin: 10px 0;

    width: 100%;

    font-size: 0.8em;
}

.toggleButton {
    font-size: 63px !important;
    color: #fff !important
}

.skipPreviousButton {
    font-size: 35px !important;
    color: #fff !important
}

.skipNextButton {
    font-size: 35px !important;
    color: #fff  !important; 
}