.form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 100%;
}

.textField {

    label {
        color: #fff !important;
        font-family: var(--main-font);

        &[data-shrink=true] {
            color: #57B560 !important;
        }

        &[data-shrink=true] + div::after {
            transform: none;
        }
    }

    div {
        border-bottom: #fff !important;

        &:hover:not(.Mui-disabled, .Mui-error):before {
            border-bottom: #fff 2px solid !important;
        }

        &::before {
            border-bottom: #fff 2px solid;
        }
        &::after {
            border-bottom: #57B560 2px solid;
        }
    }

    input {
        color: #57B560 !important;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus {
        -webkit-text-fill-color: #57B560;
        -webkit-box-shadow: 0 0 0rgb(6, 7, 6)00px inherit inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}